/* 
    Document   : draw.ctp
    Created on : 2012-12-11, 12:53:51
    Author     : Damian
    Description:
        Purpose of the stylesheet follows.
*/

/* draw.ctp rysowanie okna start*/

.configBottom{
    padding: 10px 0;
}
.border{
    border: 1px solid #c8c7c7;
}
.rama{
    float: left;
}
.ramaOkna{
    float: left;
    position: relative;
}
div .verticalWindow{
    float: none;
}
.glass{
    background-color: #AEE6FD;
}
.ramaOknaIn{
    position: relative;
}
.ramaOkna  .klamkaPodstawa,.ramaOkna  .klamkaUchwyt{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
}
.ramaOkna .uchylne{
    position: absolute;
}
.ramaOkna .klamka,
.ramaOkna .klamkaTop{
    position: absolute;
}


.ramaOkna  .klamkaUchwyt{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.dimensions.height{
    position: absolute;
    right: 1px;
}
.pole{
    border-left: 1px dashed #000;
    position: absolute;
    top: 2%;
    height: 96%;
}
.barWindow{
    position: absolute;
    background: #fff;
    border-top: #c8c7c7 solid 1px;
    border-bottom: #c8c7c7 solid 1px;
    left: -1px;
    top: 50px;
}
.barWindow > div{
    border-top: #c8c7c7 solid 1px;
    border-bottom: #c8c7c7 solid 1px;
    background: #fff;
}
/* draw.ctp rysownaie okna end*/